*{
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Quicksand;
}

.userCard{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 20px 40px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0 0 50px 10px rgba(0,0,0,.2);
}

.userCard__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2{
    font-size: 37px;
}

.span {
    opacity: 0.4;
}

.h4{
    font-size: 20px;
    opacity: 0.4;
}

.p{
    font-size: 13px;
}

.backet {
   cursor: pointer;
    display: flex;
}
